<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>618599288987-9sq4e5vv5n6dcaoc8unqar43cnsmt5rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618599288987-9sq4e5vv5n6dcaoc8unqar43cnsmt5rs</string>
	<key>API_KEY</key>
	<string>AIzaSyD4o-b-R1BMabVdIrZF2M5hQYg2bIB2ay8</string>
	<key>GCM_SENDER_ID</key>
	<string>618599288987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jnad.shop1798</string>
	<key>PROJECT_ID</key>
	<string>glassy-clarity-150017</string>
	<key>STORAGE_BUCKET</key>
	<string>glassy-clarity-150017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618599288987:ios:8255b68692205083</string>
	<key>DATABASE_URL</key>
	<string>https://glassy-clarity-150017.firebaseio.com</string>
</dict>
</plist>